@model TapBoxCommon.Models.AccessKey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccessKey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CardUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastAccessed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastAccessed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
